*{
    background: #060704;
    background-color: #060704;
}

body{
	font-family: 'Inter', sans-serif;
    background: #060704;
    background-color: #060704;
    /* text-align: justify;
    text-justify: inter-word; */
}

.nav-link{
    color: #f5f6ef;
}

.row{
    color:#f5f6ef;
    /* margin-top: 150px; */
}

.text-start{
    margin-bottom: 10px;
    /* text-align: justify;
    text-justify: inter-word; */
}

.progress{
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.card-body{
    border-radius: 10px;
    border: solid ;
    border-color: #f5f6ef;
    border-width: 2px;
}


