*{
    background: #060704;
    background-color: #060704;
}

body{
	font-family: 'Inter', sans-serif;
    background: #060704;
    background-color: #060704;
    text-align: justify;
    text-justify: inter-word;
}

.nav-link{
    color: #f5f6ef;
}

.row{
    color:#f5f6ef;
    /* margin-top: 150px; */
}

.text-start{
    margin-bottom: 10px;
    /* text-align: justify;
    text-justify: inter-word; */
}

.progress{
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.card-body{
    border-radius: 10px;
    border: solid ;
    border-color: #f5f6ef;
    border-width: 2px;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    /* background: #2d71a1; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
/* 
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  } */

  .back-to-top:hover {
    background: transparent;
    color: #eaf6eb;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }




  