*{
    background: #060704;
    background-color: #060704;
}

body{
	font-family: 'Inter', sans-serif;
    background: #060704;
    background-color: #060704;
    /* text-align: justify;
    text-justify: inter-word; */
}

.nav-link{
    color: #f5f6ef;
}

.row{
    color:#f5f6ef;
    /* margin-top: 150px; */
}

.text-start{
    margin-bottom: 10px;
    /* text-align: justify;
    text-justify: inter-word; */
}

.progress{
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.card-body{
    border-radius: 10px;
    border: solid ;
    border-color: #f5f6ef;
    border-width: 2px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    padding: 5rem 0 2.5rem 0;
  }
  
  .footer h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #000;
  }
  
  .footer .copyright {
    margin-bottom: 0px;
  }
  
  .footer .copyright,
  .footer .credits {
    font-size: 14px;
  }
  
  .social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f8f9fa;
    position: relative;
    text-align: center;
    transition: 0.3s background ease;
    color: #0d1e2d;
    line-height: 0;
  }
  
  .social a span {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social a:hover {
    color: #fff;
    background: #2d71a1;
  }
  
  .social a i {
    line-height: 0;
  }
