
body{
	font-family: 'Inter', sans-serif;
    background-color: #060704;
    text-align: justify;
    text-justify: inter-word;
}



section {
    overflow: hidden;
  }
  
  .section {
    padding: 7rem 0;
  }


/* Navigation */
.nav-link{
    color: #f5f6ef;
}

.nav-link:hover{
    color: #e0beb8;

}

.row{
    color:#f5f6ef;
    /* margin-top: 150px; */
}

.nav-btn{
    color:white;
    border-color: #e0beb8;
}

.nav-btn:hover{
    background: #e0beb8;
    color: #060704;
    border-color: #e0beb8;
}

.nav-btn-text{
    color: #e0beb8;
    list-style-type: none;
    text-decoration: none;
}

.nav-btn-text:hover{
    color: #060704;

}

.header-btn{
    color:#beb8e0;
    border-color:#beb8e0;
}


.text-btn:hover{
    color:white;
}

/* Skills Card */

.text-start{
    margin-bottom: 10px;
    /* text-align: justify;
    text-justify: inter-word; */
}

.progress{
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.card-body{
    border-radius: 10px;
    border: solid ;
    border-color: #f5f6ef;
    border-width: 2px;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    /* background: #2d71a1; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
/* 
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  } */

  .back-to-top:hover {
    background: transparent;
    color: #eaf6eb;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }



  
  /* Feature 1 */
  .feature-1 .wrap-icon {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .feature-1 .wrap-icon.icon-1 {
    background: linear-gradient(-45deg, #3b87bd, #2d71a2);
  }
  
  .feature-1 .wrap-icon i {
    font-size: 40px;
    line-height: 0;
    color: #fff;
  }
  
  .feature-1 h3 {
    font-size: 20px;
  }
  
  .feature-1 p {
    color: #b1b1b1;
  }




  /* Newsletter */
.newsletter{
    background: #beb8e0;

}

.newsletter-font{
    color: #060704;
}

.newsletter-btn{
    background: #e0beb8;
    color: #060704;
    border-color: #e0beb8;
    width: 150px;
}


/* About Me */

.header-me{
    color: #eaf6eb;
    text-align: center;
    margin-top: 20px;
}

.card-txt{
    color: #060704;
    padding-left: 10px;
    font-weight: 500;
   
}

.circle {

    border-radius: 50%;
    overflow: hidden;
    background: #beb8e0;
  }



  /* Contact */

  .card{
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
  }


  .social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #060704;
    position: relative;
    text-align: center;
    transition: 0.3s background ease;
    color: #0d1e2d;
    line-height: 0;
  }
  
  .social a i {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social a:hover {
    color: #fff;
    background: #e0beb8;
  }

  .name{
    color: linear-gradient(-45deg, #3b87bd, #2d71a2)
  }

  .submit-btn{
    color: #060704;
    background: #ffefec;
    border-color: #fcebe8;
  }

.btn:hover{
    border-color: transparent; 
    background-color: #dda9a0;
}

.gradient-text {
    background: linear-gradient(to right, #beb8e0, #e0beb8); /* Adjust the colors and direction as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

